@charset "UTF-8";

body {
  padding: 2.23em;
  height: 100%;
  margin: 0;
  font-weight: 300;
  line-height: 1.42em;
  color: #ffffff;
  font-family: 'Press Start 2P', sans-serif;
}

.body {
  margin-bottom: 50px;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #43adde;
}

.container__stats {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container__profile th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #43adde;
  width: 250px;
}

.container__profile td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.container__profile {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 0 0;
}

.container__profile td,
.container__profile th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}

.container__profile tr:nth-child(odd) {
  background-color: #323c50;
}

.container__profile tr:nth-child(even) {
  background-color: #2c3446;
}

.container__profile th {
  background-color: rgba(31, 39, 57, 1);
}

.container__profile td:first-child {
  color: #ffffff;
}

.container__profile tr:hover {
  background-color: #464a52;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.container__profile td:hover {
  background-color: #fff842;
  color: #403e10;
  font-weight: bold;

  box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px,
    #7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}

.score-box-profile {
  position: absolute;
  top: 110%;
  left: 6%;
  transform: translate(-50%, -50%);
}

.score-profile {
  display: inline-block;
  color: #ddd;
  font-size: 12px;
}

.return-profile {
  color: #ddd;
  margin-left: 5px;
  font-size: 25px;
}

[class*='entypo-']:before {
  font-family: 'Press Start 2P', sans-serif;
}

.user-profile .username {
  margin-top: -3.4em;
  margin-left: 5.8em;
  color: #658585;
  font-size: 1.53em;
  font-family: 'Press Start 2P', sans-serif;
  font-weight: bold;
}
.user-profile .bio {
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043;
  font-size: 0.87em;
  font-family: 'Press Start 2P', sans-serif;
}

.user-profile > img.avatar {
  padding: 0.7em;
  height: 18em;
  width: 18em;
  border-radius: 18em;
}

.anim-show-profile {
  color: #fff;
  text-align: center;
  opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: show 0.5s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0s; /* Задержка перед началом */
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.edit-profile {
  margin: 0px 0px 12px;
  padding: 8px;
}

.btn-2 {
  background: none;
  border: none;
}

.edit-avatar {
  width: 240px;
}

.profile__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: row-reverse;
}

.user-profile {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

input::placeholder {
  color: black;
}
