* {
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: 'Lato', 'Aril', sans-serif;
}

h1 {
  color: #ecbb15;
  text-transform: uppercase;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  margin: 0 0 25px 0;
  font-size: 16px;
}

input {
  width: 300px;
  font-size: 17px;
  display: inline-block;
  background: none;
  border: none;
  outline: none;
  color: #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}

.registr-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-area {
  margin: 0px 0px 12px;
  padding: 8px;
}

.btn {
  width: 100%;
  padding: 5px;
  color: #fff;
  background: none;
  border: 1px solid #ddd;
  font-weight: 300;
  text-transform: uppercase;
  box-shadow: 1px 1px 5px #000;
  transition: ease-in 0.2s;
  margin-top: 2px;
  cursor: pointer;
}

.btn:hover {
  color: #ecbb15;
  position: relative;
  cursor: pointer;
  text-shadow: rgb(172, 136, 15) 0px 1px 0px, rgb(108, 86, 10) 0px 2px 0px,
    rgba(0, 0, 0, 0.199219) 0px 3px 1px, rgba(0, 0, 0, 0.296875) 0px 4px 2px;
  transition: all linear 0.3s;
}

i {
  color: #ddd;
  margin: 0 5px 0 0;
}

.question {
  display: inline-block;
  color: #ddd;
  font-size: 12px;
}

.reg-btn {
  color: #ddd;
  margin-left: 5px;
  font-size: 17px;
}

.question-box {
  text-align: center;
}

.hidden {
  display: none;
}

.success-box {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 360px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.success-box h1 {
  color: #ddd;
  margin-top: 6%;
}

.anim-show-signup {
  color: #fff;
  opacity: 0;
  transition: 1s;
  animation: show 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
