.message {
   color: black;
}

.nes-container_chat{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 900px;
   margin: 50px auto!important;
   gap: 20px;
   background-color: #212529;
   padding-top: 50px!important;
   overflow: auto;
   height:600px;
}

.message {
   word-break: break-all;
   color: #fff;
}

.btn-back {
   margin-left: 200px;
   margin-top: 200px!important;
}

.messages {
   width: 489px;
}

.form__chat {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.chat {
   margin-top: 150px!important;
}