.gamebar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #212529;
}

.gamebar__left {
  width: 25%;
  /* display: flex; */
  flex-direction: column;
  padding-left: 30px;
  align-items: flex-start;
}

.gamebar__center{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  white-space: nowrap;
  border: 3px solid goldenrod;
}

.nes-container {
  background-color: white;
}

.gamebar__right {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 30px;
}

.gamebar__progress__hp 
{
  width: 100%;
  border-radius: 2px;
  background-color: rgb(33, 186, 67);
  background-color: #ce372b;
}


.gamebar__progress__number {
  width: 100%;
  text-align: center;
}

.title {
  color: black;
}

.nes-container.is-dark {
  padding: 10px;
}

.gamebar__wrapper {
  max-height: 100%;
  padding: 0!important;
  border: 1px solid white;
}
