.gamebar__progress 
{
  width: 1200px;
  height: 25px;
  padding: 2px;
  border-radius: 2px;
  background-color: rgb(82, 89, 99);
  position: fixed;
  left: 2%;
  
}

.gamebar__progress__hp 
{
  /* width: 300px; */
  border-radius: 2px;
  background-color: rgb(33, 186, 67);
  height: 100%;
  /* position: relative; */
}

.gamebar__progress__damage
{
  border-radius: 2px;
  background-color: rgba(5, 58, 139, 0.86);
  height: 100%;
  margin-top: -21px;
  margin-left: 110px;

}

.gamebar__progress__number 
{
  position: fixed;
  display: block;
  margin-top: -10px;
  margin-left: 50px;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.gamebar__progress__damage__number
{
  position: fixed;
  display: block;
  margin-top: -10px;
  margin-left: 700px;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.gamebar__progress__damage__number
{
  position: fixed;
  display: block;
  margin-top: -10px;
  margin-left: 700px;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

span
{
  display: flex;
  justify-content: center;
}
