.bullet {
  width: 28px;
  height: 4px;
  background-color: rgba(255, 179, 2, 0.863);
  box-shadow: 0px 0px 5px 5px rgb(181, 25, 25);
  /* border-radius: 50%; */
  position: absolute;
}
.bullet:hover {
	color: #371169;
	text-shadow: 0 0 1px #7c807d;
	
}
